/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}
/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: lightblue;


}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 800px;
    margin: 15px auto;
    border: 3px solid #E0F2F7;
    border-radius: 25px;
    background-color: white;
}


/* the styles for the header */
header {
	
	padding-bottom: 1.5em solid #ef9c00;

}
header h1 {
	color: #E0F2F7;
}
header h2 {
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px;
}
.shadow {
	text-shadow: 2px 2px 2px gray;
}
/* the styles for the navigation bar */
nav {
	clear: both;
}
nav ul {
	list-style: none;
	padding: 0.5em 0;       /* padding above and below li elements */
	background-color: #E0F2F7; }
nav li {
	display: inline; }
nav a {
	padding: 1.5em 2em;
	text-decoration: none;
	color: black;
	font-weight: bold;
	border-right: 0px solid #fffded; }
nav a.current { color: green; }
nav a:hover { color: blue;}

/* the styles for the section */
section {
	clear: left;
	padding: 0 20px;
	width: 525px;
	float: right;
}
section h1 {
	color: navy;
	font-size: 150%;
	padding: .5em 0 .25em;
}
section h2 {
	font-size: 120%;
	padding-bottom: .25em;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 1.5em 1.25em;
	list-style-type: circle;
}
section li {
	padding-bottom: .35em;
}

article {
	border-top: 2px solid #E0F2F7;	
	border-bottom: 2px solid #E0F2F7;
}
article h1 {
	color: black;
}
article img {
	float: right;
	margin: 1em 0 1em 1em;
	border: 1px solid black;
}
aside {
	width: 215px;
	float: right;
	padding-left: 20px;
}
aside h1 {
	color: navy;
	font-size: 150%;
	padding: .5em 0 .25em;
}
aside h2 {
	font-size: 120%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: .2em;
}
figure {
	margin-top: 1em;
}
figcaption {
	color: #E0F2F7;
}
/*
table {
	border-collapse: collapse;
}
thead, tfoot {
	border-top: 2px solid #E0F2F7;
	border-bottom: 2px solid #E0F2F7;
}
th, td {
	padding: .2em .7em;
	text-align: left;
}
tfoot th, tfoot td {
	text-align: right;
	font-weight: bold;
}*/
.border_bottom {
	border-bottom: 2px solid #E0F2F7;
}
.right {
	text-align: right;
}
/*
th:first-child, td:first-child {
	text-align: left;
}
th:first-child {
	vertical-align: bottom; }
th:nth-child(3) {
	text-align: center; }
*/

/* the styles for the footer */
footer {
	border-top: 3px solid #E0F2F7;
	clear: both;
}
footer p {
	padding: 1em 0;
	text-align: center;
}
